In [2]:
import pandas as pd
import numpy as np
import statistics as st

In [3]:
df = pd.read_csv('adult.data.csv')
display(df.head())

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
min_work_hours=df['hours-per-week'].min()
(df['hours-per-week']==min_work_hours).value_counts()

False    32541
True        20
Name: hours-per-week, dtype: int64

In [5]:
num_min_workers = (df['hours-per-week']==min_work_hours).value_counts()[True]
(((df['hours-per-week']==min_work_hours) & (df['salary']=='>50K')).value_counts()[True])

2

In [6]:
(((df['hours-per-week']==min_work_hours) & (df['salary']=='>50K')).value_counts()[True])

2

In [7]:
#eua TEM MAIS RICO
p_maior50k=df[['salary','native-country']].value_counts()['>50K']
p_menor50k=df[['salary','native-country']].value_counts()['<=50K']
p_maior50kk=pd.DataFrame(p_maior50k)
p_maior50kk['p_maior']=p_maior50k
#p_maior50k=pd.DataFrame()
p_maior50kk['p_menor']=p_menor50k
p_maior50kk.sort_values(['p_menor',"p_maior"],ascending=False,inplace=True)

#df2=df.query('"native-country" == "United-States"')

In [8]:
teste=df.query('salary==">50K"')
teste['native-country'].value_counts()

United-States         7171
?                      146
Philippines             61
Germany                 44
India                   40
Canada                  39
Mexico                  33
England                 30
Italy                   25
Cuba                    25
Japan                   24
Taiwan                  20
China                   20
Iran                    18
South                   16
Puerto-Rico             12
Poland                  12
France                  12
Jamaica                 10
El-Salvador              9
Greece                   8
Cambodia                 7
Hong                     6
Yugoslavia               6
Ireland                  5
Vietnam                  5
Portugal                 4
Haiti                    4
Ecuador                  4
Thailand                 3
Hungary                  3
Guatemala                3
Scotland                 3
Nicaragua                2
Trinadad&Tobago          2
Laos                     2
Columbia                 2
Dominican-Republic       2
Peru                     2
Honduras                 1
Name: native-country, dtype: int64

In [9]:
(df['sex']=='Male').value_counts()[True]
teste2=df.loc[df['sex']=='Male',['age','sex']].sum()[0]
teste2/(df['sex']=='Male').value_counts()[True]

39.43354749885268

In [10]:
sum_country=df.loc[df['salary']=='>50K',['native-country']].value_counts()
sum_country
sum_country2=df.loc[:,['native-country']].value_counts()
sum_contry3=(sum_country/sum_country2)*100
sum_contry3.sort_values(ascending=False,inplace=True)
round(sum_contry3,1)

native-country
Iran                          41.9
France                        41.4
India                         40.0
Taiwan                        39.2
Japan                         38.7
Yugoslavia                    37.5
Cambodia                      36.8
Italy                         34.2
England                       33.3
Canada                        32.2
Germany                       32.1
Philippines                   30.8
Hong                          30.0
Greece                        27.6
China                         26.7
Cuba                          26.3
?                             25.0
Scotland                      25.0
United-States                 24.6
Hungary                       23.1
Ireland                       20.8
South                         20.0
Poland                        20.0
Thailand                      16.7
Ecuador                       14.3
Jamaica                       12.3
Laos                          11.1
Portugal                      10.8
Puerto-Rico                   10.5
Trinadad&Tobago               10.5
Haiti                          9.1
El-Salvador                    8.5
Honduras                       7.7
Vietnam                        7.5
Peru                           6.5
Nicaragua                      5.9
Mexico                         5.1
Guatemala                      4.7
Columbia                       3.4
Dominican-Republic             2.9
Holand-Netherlands             NaN
Outlying-US(Guam-USVI-etc)     NaN
dtype: float64

In [11]:
p_maior50k=df[['salary','native-country']].value_counts()
p_menor50k=df[['salary','native-country']].value_counts()['<=50K']
new=(p_maior50k/p_menor50k)*100
(new.sort_values(ascending=False,inplace=True))
new=new.to_frame()
#new2=new.loc['Iran']
p_maior50k

salary  native-country
<=50K   United-States         21999
>50K    United-States          7171
<=50K   Mexico                  610
        ?                       437
>50K    ?                       146
                              ...
        Trinadad&Tobago           2
        Nicaragua                 2
        Dominican-Republic        2
        Honduras                  1
<=50K   Holand-Netherlands        1
Length: 82, dtype: int64

In [19]:

result=df.loc[(df['native-country']=='India') & (df['salary']==">50K"),['salary','occupation','native-country']].value_counts().to_frame().reset_index()
a=result.index.to_numpy()
numpy_vector=a[0]
out_arr = np.char.split(numpy_vector)
display(result,out_arr,out_arr[1])

                                         0
salary occupation       native-country
>50K   Prof-specialty   India           25
       Exec-managerial  India            8
       Other-service    India            2
       Tech-support     India            2
       Adm-clerical     India            1
       Sales            India            1
       Transport-moving India            1

array([list(['>50K']), list(['Prof-specialty']), list(['India'])],
      dtype=object)

['Prof-specialty']

In [23]:
result=df.loc[(df['native-country']=='India') & (df['salary']==">50K"),['salary','occupation','native-country']].value_counts().to_frame().reset_index()
result['occupation'][0]

'Prof-specialty'

In [13]:
mask=df['native-country']=='>50K'
f=df
g=f.loc[f['salary']=='>50K',['native-country','salary']]
h=f.loc[f['salary']=='<=50K',['native-country','salary']]
i=g.groupby('native-country')[['salary','native-country']]